<p id="notice"><%= notice %></p>

<h1>Contas do Sendgrid</h1>

<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th>Sendgrid Webhook</th>
      <th class="text-center">Ativa</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @accounts.each_with_index do |account,x| %>
      <tr>
        <td><%= account.name %></td>
        <td class="text-center"><%= account.active ? 'SIM': 'NÃO' %></td>
        <td><%= link_to 'Detalhes', account %>
          <%= link_to 'Editar', edit_account_path(account) %>
          <%= link_to 'Excluir', account, method: :delete, data: { confirm: 'Deseja excluir?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<label>

<%= link_to '<button>Novo</button>'.html_safe, new_account_path %>
</label>