<p id="notice"><%= notice %></p>

<p>
  <strong>Nome webhook:</strong>
  <%= @account.name %>
</p>

<p>
  <strong>Ativa:</strong>
  <%= @account.active %>
</p>

<%= link_to '<button>Editar</button>'.html_safe, edit_account_path(@account) %> |
<%= link_to '<button>Voltar</button>'.html_safe, accounts_path %>
