<p id="notice"><%= notice %></p>

<p>
  <strong>Nome webhook:</strong>
  <%= @account.name %>
</p>

<p>
  <strong>Ativa:</strong>
  <%= @account.active %>
</p>

<%= link_to 'Editar', edit_account_path(@account) %> |
<%= link_to 'Voltar', accounts_path %>
